a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
#button_263f8a00 { vertical-align: top; border-radius: 3px; position:relative; display: inline-block; margin:0px 10px 0px 0px;width:130px; height:40px; background-color:#6E17FB;  }
#button_263f8a00:hover { background-color:#9F65FD;  }
#button_263f8a00:hover span { color:#CDCDCD; }
#button_6f4409d4 { vertical-align: top; border-radius: 3px; position:relative; display: inline-block; margin:0px 0px 0px 10px;width:130px; height:40px; background-color:#6E17FB;  }
#button_6f4409d4:hover { background-color:#9F65FD;  }
#button_6f4409d4:hover span { color:#CDCDCD; }
#button_4710ac38 { vertical-align: top; border-radius: 3px; position:relative; display: inline-block; margin:0px 0px 0px 20px;width:130px; height:40px; background-color:#00893C;  }
#button_4710ac38:hover { background-color:#27AE60;  }
#button_4710ac38:hover span { color:#CDCDCD; }
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_83d87bc { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:1788px; max-width:1600px; background:none;  }
.textstyle2 { text-align:left; }
#container_60320bed { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#222222;  }
#container_60320bed_padding { margin: 10px; display: block;  }
#container_1383d4b1 { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:60px; background:none;  }
#container_1383d4b1_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:44pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_785dbb6 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:50px; background:none;  }
.textstyle4 { text-align:right; }
#container_77609974 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle6 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_4a5a90a8 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:215px; background:none;  }
#img_4902854c { vertical-align: bottom; position:relative; display: inline-block; width:100%; background:none; height:auto;  }
.textstyle7 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle9 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.784314);  }
.textstyle10 { font-size:14pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_722b2bda { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:53px; background:none;  }
#container_722b2bda_padding { margin: 10px 0px 10px 0px;display: block;  }
#container_76c03d5e { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:49px; background:none;  }
#container_76c03d5e_padding { margin: 10px; display: block;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_fdbfed7 { box-sizing: border-box; vertical-align: top; border-radius: 5px; position:relative; display: inline-block; width:10%; background:none; border: 1px solid #404040; height:auto;  }
.textstyle12 { font-size:12pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#FFFFFF;  }
.textstyle13 { font-size:14pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E; line-height: 1.5;  }
#container_28baa5e8 { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:152px; background:none;  }
#container_28baa5e8_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E; line-height: 1.5;  }
.textstyle15 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E; font-weight:bold; line-height: 1.5;  }
.textstyle16 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E; line-height: 1.5;  }
#container_749be54d { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:233px; background-color:#494949;  }
#container_749be54d_padding { margin: 10px; display: block;  }
.textstyle17 { font-size:16pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
#container_7ea221bd { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:150px; background:none;  }
#container_7ea221bd_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle19 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF;  }
.textstyle20 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; line-height: 1.5;  }
.textstyle21 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#20242E;  }
#container_459f1faa { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background-color:#FFFFFF;  }
#container_459f1faa_padding { margin: 10px; display: block;  }
.textstyle22 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
#container_639a229a { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:150px; background:none;  }
#container_639a229a_padding { margin: 10px; display: block;  }
#container_10bc54f8 { vertical-align: top; position:relative; display: inline-block; width:67%; min-height:150px; background:none;  }
.textstyle23 { font-size:10pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.ulstyle1 { margin:0; font-size: 10pt; color:#000000;  }
#container_8f68c31 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:57px; background:none;  }
.textstyle24 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 640px)
{
		#container_1383d4b1 * span { font-size:15pt;  }
}
@media only screen and (max-width: 450px)
{
		#container_10bc54f8 { width:100%;  }
		#container_8f68c31 { width:100%;  }
}
@media only screen and (max-width: 400px)
{
		#container_76c03d5e { width:100%;  }
}
