a { color:#0280E1; } 
a:visited { color:#0280E1; } 
a:active { color:#0280E1; } 
a:hover { color:#B2B3B4; } 
body { background-color:#FFFFFF; padding:0;  margin: 0; }
.textstyle1 { text-align:center; }
#container_3a41f573 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
#container_3ca14934 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:65px; background-color:#222222;  }
#container_3ca14934_padding { margin: 10px; display: block;  }
.textstyle2 { text-align:left; }
#container_2e18e390 { vertical-align: top; position:relative; display: inline-block; width:39%; min-height:60px; background:none;  }
#container_2e18e390_padding { margin: 10px; display: block;  }
.textstyle3 { font-size:22pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  }
#container_5e11d928 { vertical-align: top; position:relative; display: inline-block; width:60%; min-height:50px; background:none;  }
.textstyle4 { text-align:right; }
#container_2d7b4969 { vertical-align: top; position:relative; display: inline-block; width:100%; background:none;  }
.textstyle5 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle6 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-weight:bold;  }
.textstyle7 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_42e1be39 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:156px; background-color:#2B252D; background: linear-gradient(to bottom, #9A9AE0, #2B252D);  }
#img_11e60731 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
.textstyle8 { font-size:15pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#20242E;  }
.textstyle9 { font-size:15pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
#container_541cc4d { vertical-align: top; position:relative; display: inline-block; width:90%; min-height:150px; background:none;  }
#container_541cc4d_padding { margin: 10px; display: block;  }
.textstyle10 { font-size:22pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle11 { font-size:18pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_3ca701ed { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_b26edf4 { vertical-align: top; position:relative; display: inline-block; width:48%; min-height:150px; background:none;  }
#container_b26edf4_padding { margin: 20px 20px 20px 0px;display: block;  }
.textstyle12 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle13 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#img_76372fca { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_5ed9721c { vertical-align: top; position:relative; display: inline-block; width:48%; min-height:150px; background:none;  }
#container_5ed9721c_padding { margin: 20px 20px 20px 0px;display: block;  }
#img_66675b11 { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_4c8cc367 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_4c8cc367_padding { margin: 20px 20px 20px 0px;display: block;  }
#img_6532fa0e { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_4fe2a894 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_4fe2a894_padding { margin: 20px 20px 20px 0px;display: block;  }
#img_2a64b3ae { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_5a2c13b7 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_5a2c13b7_padding { margin: 20px 20px 20px 0px;display: block;  }
#img_4902854c { vertical-align: bottom; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_7e510c81 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_7e510c81_padding { margin: 20px 20px 20px 0px;display: block;  }
#img_71fbe97c { vertical-align: top; position:relative; display: inline-block; width:50%; background:none; height:auto;  }
#container_4a065c39 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:52px; background:none;  }
#container_4a065c39_padding { margin: 20px 20px 20px 0px;display: block;  }
.textstyle14 { font-size:32pt; font-family:Tahoma, Geneva, sans-serif; color:#20242E;  }
.textstyle15 { font-size:8pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
@media only screen and (max-width: 640px)
{
		#container_2e18e390 * span { font-size:15pt;  }
}
@media only screen and (max-width: 600px)
{
		#container_b26edf4 { width:100%;  }
		#container_5ed9721c { width:100%;  }
		#container_4c8cc367 { width:100%;  }
		#container_4fe2a894 { width:100%;  }
		#container_5a2c13b7 { width:100%;  }
		#container_7e510c81 { width:100%;  }
		#container_4a065c39 { width:100%;  }
}
